---
import Layout from "../../layouts/Layout.astro";
import Container from "../../components/Container.astro";
import { useState } from "react";
import { getCollection } from "astro:content";

// Golds data
const golds = [
	{
		name: "Geoffrey Logovi",
		url: "https://mvp.microsoft.com/en-US/studentambassadors/profile/cb44ce80-c537-41e1-aafe-c438deb64ea5?wt.mc_id=studentamb_252175",
		photo: "../../assets/geoffreylgv.jpg",
		title: "Open source community advocate",
	},
];
---

<Layout title="Microsoft - Togo Gold Ambassadors.">
	<Container>
		<main class="pt-24 mb-10">
			<body class="bg-gray-100">
				<div class="mx-auto p-4">
					<h1 class="text-3xl font-bold mb-6">Golds Showcase</h1>
					<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4">
						{
							golds.map((gold, index) => (
								<li
									key={index}
									class="group border bg-vulcan-800 border-white/5 overflow-hidden rounded-3xl shadow-vulcan-950 shadow-2xl"
								>
									<a href={gold.url} title={gold.title}>
										<div class="flex items-end shadow-2xl shadow-vulcan-950 justify-center overflow-hidden rounded-t-3xl">
											<div class="flex object-cover">
												<img
													height="500"
													class="group-hover:scale-110 duration-300"
													loading="lazy"
													src={gold.photo}
													alt={gold.title}
													width="560"
												/>
											</div>
										</div>
									</a>
									<div class="p-8">
										<h3 class="mt-5 text-lg font-medium leading-6 text-white">
											{gold.name}
										</h3>
										<p class="mt-2 text-base text-vulcan-300 line-clamp-1">
											{gold.title}
										</p>
									</div>
								</li>
							))
						}
					</div>
				</div>
			</body>
		</main>
	</Container>
</Layout>
